.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
terraform/*.tfstate
terraform/*.tfstate.backup
ansible/inventory.ini
.ansible-lint
.ansible/
.vscode/
github-actions-key
github-actions-key.pub
